* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	box-sizing: border-box;
	text-align: center;
	background-color: #f1f1f1;
	font-family: tahoma, sans-serif, helvetica;
	font-weight: normal;
}
.title {
	font-family: 'Lobster', cursive;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
#top_page {
	width: 100%;
	height: 580px;
}
.menu {

	width: 100%;
	height: 50px;
	background-image: url("../images/bg_menu.jpg") ;
	border-bottom: 1px solid #ac8180;
}
.main_menu li {
	display: inline-block;
	line-height: 50px;
	font-size: 1.2em;
	float: left;
	text-transform: uppercase;
}
.main_menu li a {
	color: #f2f2f2;
	padding: 10px 20px;
	border-radius: 10px;
}
.main_menu li:hover a{
	color: #fefcf9;
	background: red; 
    background: -webkit-linear-gradient(#ff0400,#aa1916); 
    background: -o-linear-gradient(#ff0400, #aa1916); 
    background: -moz-linear-gradient(#ff0400, #aa1916); 
    background: linear-gradient(#ff0400, #aa1916);
}
.search_bar {
	width: 220px;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #333;
	line-height: 50px;
}
.input_search {
	border-radius: 20px 20px;
	max-width: 150px;
	height: 25px;

	float: left;
}
.btn_search{
	width: 25px;
	height: 25px;
	background-image: url("../images/search_icon.png");
	float: right;
}
#logo {
	width: 100%;
	height: 132px;
/*	background-image: url("../images/logo_bg.jpg");*/
	position: relative;
	overflow: hidden;
	background: red;
	background: -webkit-linear-gradient(#d17ba3,#680001,#701a17); 
    background: -o-linear-gradient(#d17ba3,#680001,#701a17); 
    background: -moz-linear-gradient(#d17ba3,#680001,#701a17); 
    background: linear-gradient(#d17ba3,#680001,#701a17);
}

#logo img {
	max-height: 130px;
	display: inline-block;
}
.logo_name {
	color: white;
	position: absolute;
	display: inline;
	font-size: 5em;
	left: 270px;
	top: -20px;
}
.txt_tech {
	position: absolute;
	left: 520px;
	top: -20px;
}
#banner {
	position: relative;
	width: 100%;
	height: 400px;
	background: red;
	background: -webkit-linear-gradient(#a13145,#701a17); 
    background: -o-linear-gradient(#a13145,#701a17); 
    background: -moz-linear-gradient(#a13145,#701a17); 
    background: linear-gradient(#a13145,#701a17);

}
#banner img {
	max-width:400px;
	height: auto;
	float: right;
}
.content_banner {
	display: block;
	float: left;
	text-align: center;
	width: 500px;
	color: white;
	padding: 0px 10px;
}
.content_banner h1 {
	font-size: 3em;

}
.content_banner p {
	font-size: 1.2em;
	text-align: justify;
}
.price_info {
	position: absolute;
	text-align: center;
	line-height: 100px;
	width: 210px;
	height: 100px;
	background-image: url(../images/price_bg.png);
	color: white;
	top: 10px;
	left: 430px;
	font-size: 2em;
	font-weight: bold;

}

.order_btn a{
	position: absolute;
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    line-height: 40px;
    font-size: 1.5em;
    top: 280px;
    left: 200px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#d17ba3,red); 
    background: -o-linear-gradient(#d17ba3,red); 
    background: -moz-linear-gradient(#d17ba3,red); 
    background: linear-gradient(#d17ba3,red);
}
.order_btn a:hover {
	color: orange;
}