*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 24px;
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
}
#menu a {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 10px 20px 0;
	color: #b30000;

}
#menu a:hover {
	color: #ff3333;
}
#content {
	display: block;
	float: left;
}
.hair_image {
	width: 300px;
	height: 400px;
	overflow: hidden;
	float: left;
	margin: 10px 0 0 20px;

}
.hair_image img{

	float: left;
	max-width: 320px;
	transition: 1s;
}
.hair_image > img:hover {
	opacity: 0.7;
	transform: scale(1.5);

}
.title_hair {
	text-align: center;
	color: blue;
}