* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 ul	{
 	list-style: none;
 }
 a {
 	text-decoration: none;
 }
 body {
 	font-size: 18px;
 	font-family: sans-serif, helvetica, arial, tahoma;
 	/*background-image: url("../images/body_bg_1.jpg");*/
 	background-color: #f1f1f1;
 	box-sizing: border-box;
 }
#container {
 	width: 1000px;
 	margin: 0 auto;
 
 }
 /********************************/
#top_page {
 	width: 100%;
 	
 	
 }
.menu_row {
 	width: 100%;
 	height: 50px;
 	text-transform: uppercase;

 }
 .menu_row a {
 	color: white;
 }

#menu {
 	background-color: rgba(241, 241, 241, .9);
}
#menu ul {
	float: right;
	padding-right: 20px;
}
#menu ul li{
 	line-height: 48px;
 	display: inline-block;
 	padding: 0px 10px;
}
#menu li > a {
	font-size: .7em;
	color: #666;
	display: block;
}
#menu li a:hover {
	color: #000;
}

#main_menu {
	border-radius: 0 0 5px 5px;
	background-color: #5ec179;
	box-shadow: 0px 2px 7px #666666;
	z-index: 1000;
	/*float: left;*/
}
#main_menu ul {
	font-size: .8em;
	text-align: center

}
#main_menu  > ul > li {
	font-weight: bold;
	display: inline-block;
	float: left;
 	padding: 0px 20px;
 	position: relative;
 	line-height: 50px;
}

#main_menu li:hover .sub_menu {
	display: block;
	transform: translateY(22);
}
#main_menu li:hover > a{
	color: #ff1a1a;
}
.sub_menu {
	left: 0;
	position: absolute;
	display: none;
	transition: 2s ease-in-out;
	z-index: 1000;
}
.sub_menu li {
	border-bottom: 1px solid white;
	width: 200px;
	height: 30px;
	line-height: 30px;
	background-color: #cc80ff;
}
.sub_menu li:last-child {
	border: none;
}
.sub_menu li a {
	color: #fff;
	line-height: 30px;
}
.sub_menu li:hover a {
	color: #ff1a1a;
}

/*=================================================================*/
#digital-store {
	margin-top: 20px;
    width: 100%;
    height: 500px;
}
.title {
	text-transform: uppercase;
	height: 80px;
	text-decoration: none;
	transition: all ease-in-out;
}
.title h1 {
	color: red;
	line-height: 80px;
}
.title h1:hover {
	text-decoration: underline;
}
#banner {
	width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid pink;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 0px #ca9999;
	/*background: #252525;*/ 
    /*background: -webkit-linear-gradient(#252525, #1a1a1a); 
    background: -o-linear-gradient(#252525, #1a1a1a); 
    background: -moz-linear-gradient(#252525, #1a1a1a); 
    background: linear-gradient(#252525, #1a1a1a); /*/

}
#banner .img_banner{
	min-width: 699px;
	max-width: 700px;
	transition: 2s ease-in-out;
	overflow: hidden;
	float: left;
	
}
.img_banner img {
	width: 100%;
	transition: 1s ease-in-out
}
.img_banner:hover img{
	transform: scale(1.2);
}
.right_banner {
	display: block;
	float: right;
	margin-right: 70px;
	margin-top: 100px;
	text-align: center;

}
.right_banner  .new_banner{
	color: green;
	text-transform: uppercase;
}
.name_prod_banner {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;

}
.right_banner h3 {
	font-size: 1.5em;
	color: #838383;
}
.right_banner p {
	padding: 20px 0px 45px 0px;
	font-size: 14px;
}
.right_banner a {
	padding: 15px 15px;
    text-align: center;
    color: white;
    background-color: #fd0000;
    border-radius: 5px;
}
.detail_prod:hover {
	background-color: pink;
}

#sale {
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
}


#best_price {
	width: 100%;
	height: 120px;
	
	position: relative;
}
#best_price{
	background: #252525; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#252525, #1a1a1a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#252525, #1a1a1a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#252525, #1a1a1a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#252525, #1a1a1a); /* Standard syntax */

}
.sale_bg {
	width: 100px;
	height: 100%;
	top: -10px;
	left: -10px;
	background-image: url("../images/unnamed.png") ;
	background-repeat: no-repeat;
	position: absolute;
}
.product_sale {
	margin-left: 200px;
}
.product_sale_name {
	color: grey;
    text-transform: uppercase;
    text-align: center;
   
 	height: 120px;
 	float: left;
 	padding-top: 20px;
 
}
.sale_id {
	display: block;
    font-size: 3em;
    color: white;
    font-weight: bold;
    /* margin-top: 10px; */
}
.sale_name {
	font-size: 1.3em;
	color: grey;
}
.product_sale_img {
	display: inline-block;
}
.buy_now {
	float: right;
    height: 50px;
    margin-top: 50px;
    margin-right: 120px;
}
.buy_now a {
	padding: 20px;
	border-radius: 5px;
	font-weight: bold;
	background-color: #56be71;
	text-transform: uppercase;
	color: white;
}
.buy_now:hover a {
	background-color: #24e857;
}
/*====================================*/

#list_product {
	width: 100%;
	margin-top: 20px;
	z-index: -1;
	
}
#list_product h1 {
	width: 100%
	height: 40px;
	padding: 10px;
	color: red;
}
.id_product {
	width: 230px;
    margin: 10px 8px;
    text-align: center;
    overflow: hidden;
    height: 330px;
    min-height: 190px;
    position: relative;
    display: inline-block;
    box-shadow: 1px 0px 2px 0px #ca9999;
}
.id_product:hover {
	box-shadow: 1px 0px 2px 0px #de2525;
}
.image_prod {
	width: 230px;
	height: 230px;
	overflow: hidden;
}
.image_prod img{
	max-width: 230px;
	
}
.price_prod {
	width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid grey;
    color: red;
    
}
.name_prod {
    padding-top: 5px;
    font-size: .8em;
    text-transform: uppercase;
	
}
.name_prod a {
	color: #333333;
}
.name_prod a:hover {
	text-decoration: underline;
}
/*=============================================================?*/
#footer {
	font-family: 'timenewroman';
	width: 100%;
	min-height: 100px;
	margin-top: 50px;
	background: #f9dfdf; 
    background: -webkit-linear-gradient(#f9dfdf, #f1f1f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f9dfdf, #f1f1f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f9dfdf, #f1f1f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f9dfdf, #f1f1f1); /* Standard syntax (must be last) */
}
#footer_top {
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: red;
	background: pink; 
    background: -webkit-linear-gradient(pink, #f1f1f1); 
    background: -o-linear-gradient(pink, #f1f1f1); 
    background: -moz-linear-gradient(pink, #f1f1f1); 
    background: linear-gradient(pink, #f1f1f1);
}
#address{
	padding: 10px;
	}
.add {
	font-size: 1.2em;
	color: red;
}

