* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif, helvetica, arial, tahoma;
	box-sizing: border-box;
	background-color: #333;
	font-size: 30px;
	font-weight: bold;
}
/*style div bao đóng */
#wrap {
	margin: 0 auto;
	margin-top: 50px; 
	max-width: 540px;
	height: 640px;
	border: 5px solid #838383;
	background-color: #f1f1f1;
	padding: 10px;
}
/*style ô hiển thị kết quả*/
#result {
	width: 528px; height: 100px;
	border: 1px solid black;
	border-radius: 5px;
	line-height: 100px;
	text-align: right;
	font-size: 50px;
	padding-right: 4px;
    margin-left: 3px;
}
/*style cột */
#wrap .row{
	width: 100px;
	float: left;
	margin-right: 8px;
}
/*style nút bấm*/
#wrap .btn{ /*style các nút bấm*/
	width: 100px; 
	height: 100px;
	border: 1px solid #333;
	float: left;
	margin: 3px;
	text-align: center;
	line-height: 100px;
	border-radius: 5px;
}
/*style  nút bấm số*/
.btn_number {
	background-color: #a7a5a5;
}
/*style nút bằng*/
.btn_equals { 
	min-width: 208px;
}
/*style cột phép tính (cột thứ 5)*/
.btn_row5 {
	background-color: #f88020;
}
/*style nút AC*/
.btn_clear {
	background-color: #fe3b3b;

}
.btn_clear span{
	color: white;
}
/*style hover qua nút bấm*/
.btn {
	border-color: #c0c0c0 #7491a5 #7491a5 #c0c0c0;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.05);
    color: #414f5b;
}
.btn:hover{
	box-shadow: 1px 1px 1px black;
}
.btn:active {
    border: 1px solid #4271a5;
    background: -moz-linear-gradient(top, #eaf6fd 0, #a7d9f5 100%);
    background: -o-linear-gradient(top, #eaf6fd 0, #a7d9f5 100%);
    background: -ms-linear-gradient(top, #eaf6fd 0, #a7d9f5 100%);
    background: linear-gradient(to bottom, #eaf6fd 0, #a7d9f5 100%);
}