body {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#wrap {
    width: 800px;
    height: 700px;
    /*border: 1px solid;*/
    margin: 50px auto;
    /*text-align: left;*/
    text-align: center;
    background-color: rgba(74, 235, 251, 0.7);
    border-radius: 10px;

}
form  {
    margin: 0 auto;
    }
#wrap h1 {
    font-size: 3em;
    margin-bottom: 40px;
    padding-top: 30px;
    width: 100%;
    /*background-color: rgb(255, 0, 0);*/
}
input.input_text {
    width: 250px;
    height: 30px;
    font-size: 14px;
    margin: 5px;
    padding-left: 26px;
}
.input:before {
    font-family: FontAwesome;
    color: rgba(255, 0, 0, 0.8);
    position: absolute;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 10px;
}
#hoten:before{
    content:'\f007'
}
#mail:before {
    content: '\f0e0';
}
#date::before{
    content:'\f073';
}
#diachi::before{
    content:'\f2bc';
}
#dienthoai::before{
    content: '\f10b';
    font-size: 1.5em;
    margin-left: 4px;
    margin-top: -4px;
}
#face::before {
    content: '\f230';
    margin-left: 3px;
    font-size: 1.2em;
}
#btn button{
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #f1f1f1;
    background-color: red;
    cursor: pointer;
}
#btn button:hover {
    background-color: rgb(255, 128, 0);
}
#rad{
font-size: 18px;
}
#rad input {
    margin: 10px;
}
.error {
    position: absolute;
    font-style: italic;
    color: darkblue;
    font-size: 16px;
}
